.login-form {
  max-width: 40rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: .8rem;
  .form-field {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;

    lable {
      font-size: 1.2rem;
      color: aquamarine;
    }input {
      padding: 0.8rem 1rem;
      border: 1px solid palevioletred;
      border-radius: .4rem;
      font-size: 1.4rem;

      &:focus {
        outline: none;
        border-color: navy;
      }

    }
  }
  button {
    width: 100%;
    background-color: paleturquoise;
    color: navy;
    padding: 1rem;
    border-radius: 2rem;
    transition: background .2s;
    &:hover {
      background-color: rgb(142, 211, 211)
    }

  }
}